<!DOCTYPE html>
<html>

<head> 
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='icon' href='/photo/weather.png'>
</head>

<body>
    {{>header}}
    <p>{{message}}</p>
    {{>footer}}
</body>
</html>