<!DOCTYPE html>
<html>

<head> 
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='icon' href='/photo/weather.png'>
    <script>src='/js/app.js'</script>
</head>

<body>
    {{>header}}
    <p style="padding-top: 300px; text-align: center"><span>A weather application created using Node.js and data from weatherstack.com and mapbox.com</span></p>
    {{>footer}}
</body>
</html>