<!DOCTYPE html>
<html>

<head> 
    <link rel='stylesheet' href='/css/style.css'>
    <link rel='icon' href='/photo/weather.png'>
</head>

<body>
    {{>header}}
    <p style="text-align: center; padding: 300px"><span>If you run into any problem, kindly contact {{contact}}</span></p>
    {{>footer}}
</body>
</html>